* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
  width: 1600px;
  height: 92px;
  background: #1A0B2E;
  border-bottom: 1px solid rgba(255,255,255,0.08);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90px;
}

.logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.logo span{
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  background-clip: text;
  color: transparent;
}
.nav-menu {
    list-style: none;
    display: flex;
    gap: 50px;
}

.nav-menu a{
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: rgba(255,255,255,0.75);
  transition: color 0.2s ease;
}

.nav-menu a:hover{
  color: #ffffff;
}

.nav-button{
  padding: 12px 22px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  background: linear-gradient(90deg, #a855f7, #22d3ee);
  color: #060018;
  transition: transform 0.2s ease;
}

.nav-button:hover{
  transform: translateY(-2px);
}

.banner {
    height: 760px;
    width: 1600px;
    background: url('../assets/hero-bg.png') no-repeat center/cover;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.banner-container{
  width: 1100px;        
  margin: 0 auto;
  padding-top: 110px;   
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-circle {
    width: 350px;
    height: 350px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero-badge{
  position: absolute;
  background: #39ff9a;
  color: #081018;
  font-weight: 900;
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 999px;
  text-transform: uppercase;
  margin-bottom: 500px;
}

.hero-title {
    font-size: 4rem;
    font-weight: 800;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}

.hero-subtitle {
    font-size: 1.25rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.75);
    max-width: 700px;
    margin: 0 auto;
}

.hero-action {
    display: flex;
    gap: 8px;
    margin-top: 30px;
    justify-content: center;
}

.hero-button {
    padding: 12px 22px;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    background: linear-gradient(90deg, #a855f7, #22d3ee);
    color: #060018;
    display: flex;
    align-items: center;
    transition: transform 0.2s ease;
    gap: 5px;
}

.hero-button:hover{
  transform: translateY(-2px);
}

.hero-link {
    padding: 12px 22px;
    border: greenyellow solid 2px;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    background: transparent;
    color: greenyellow;
    display: flex;
    gap: 5px;
}

.hero-link:hover{
  transform: translateY(-2px);
}

.about {
    width: 1600px;
    height: 646px;
    margin: 0 auto;
    padding: 50px 200px 120px 200px;
    text-align: center;
    background-color: #1A0B2E;
    color: white;
}

.about-title {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.about-conatainer {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.about-conatainer h2 {
    margin: 0 0 14px;
    font-size: 44px;
    font-weight: 800;
    color : white;
}


.about-content p{
  margin: 0;
  font-size: 13px;
  line-height: 1.9;
  color: rgba(255,255,255,0.65);
}

.about-divider{
  width: 100%;
  height: 1px;
  background: rgba(255,255,255,0.10);
  margin: 46px 0;
}

.about-stats{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  max-width: 900px;
  margin: 0 auto;
}

.stat {
  text-align: center;
}

.stat h3{
  font-size: 2rem;
  margin-bottom: 8px;
  font-weight: 900;
  color: #39ff9a; 
  letter-spacing: 0.5px;
}

.stat p{
  font-size: 13px;
  color: rgba(255,255,255,0.65);
  font-weight: 600;
  letter-spacing: 1px;
}

.why{
  padding: 70px 0 80px;
  background: #230E3D;
  text-align: center;
  margin: 0 auto;
  height: 1121px;
  width: 1600px;
}

.why-title{
  font-size: 2.5rem;
  font-weight: 800;
  color: white;
  margin-bottom: 30px;
  text-align: center;
}

.why-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.why-card{
  height: 100%;                /* fill the grid cell */
  background: rgba(0,0,0,0.18);
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 26px;
  padding: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
}

.why-icon{
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.why-card h3{
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 12px;
}

.why-card p{
  font-size: 13px;
  color: rgba(255,255,255,0.65);
  line-height: 1.8;
}

.why-card--tall{
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  min-height: 520px;
}

.why-card--right{
  grid-column: 2 / 4; 
}

.why-card--left{
  grid-column: 1 / 3; 
}

.why-card--left{
  grid-column: 1 / 3; 
}


.episodes{
  padding: 80px 0 90px;
  background: #1A0B2E;
  margin: 0 auto;
  width: 1600px;
  height: 1279px;
}

.section-title{
  font-size: 2.5rem;
  font-weight: 800;
  color: white;
  margin-bottom: 50px;
  text-align: center;
}

.episodes-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1200px;
  max-height: 440px;
  margin: 0 auto;
}

.episode-card{
  background: rgba(0,0,0,0.18);
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 22px;
  overflow: hidden; 
  box-shadow: 0 22px 50px rgba(0,0,0,0.28);
  display: flex;
  flex-direction: column;
}

.episode-video{
  width: 100%;
  aspect-ratio: 16 / 9;
  background: #230E3D;
  gap: 5px;
}

.episode-video iframe{
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}

.episode-body{
  padding: 18px 18px 22px;
  background: #230E3D;
  gap: 5px;
  width: 100%;
  color: white;
}

.episode-body h3{
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: 900;
  color: #ffffff;
  line-height: 1.3;
}

.episode-body p{
  margin: 0 0 14px;
  font-size: 12px;
  line-height: 1.7;
  color: rgba(255,255,255,0.60);
}

.episode-time{
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 700;
  color: rgba(255,255,255,0.75);
}

.dot-green{
  width: 10px;
  height: 10px;
  border-radius: 999px;
  background: #39ff9a;
  box-shadow: 0 8px 16px rgba(57,255,154,0.25);
}

.media-block{
  padding: 80px 0 100px;
  background: #230E3D;
}

.host-title{
  font-size: 2.5rem;
  font-weight: 800;
  color: white;
  margin-bottom: 50px;
  text-align: center;
  margin-top: 120px;
}

.host-card{
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  background: #230E3D;
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 22px;
  padding: 30px;
}

.host-content h3 {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;
    line-height: 1.3;
}

.host-content p{
  margin: 0;
  font-size: 13px;
  line-height: 1.8;
  color: rgba(255,255,255,0.65);
}

.host-image{
  width: 200px;
  height: 200px;
  border-radius: 999px;
  overflow: hidden;
  flex-shrink: 0;
}

.host-social {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}